/* You can add global styles to this file, and also import other style files */
*,
::before,
::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.red-button {
  background-color: hotpink;
}
